In [3]:
import pandas as pd 
 

#vamos criar um registro de 3 estudantes cada um armazenada em uma serie 

record1 = pd.Series({'Name': 'Alice',
                      'Class': 'Physics',
                      'Score': 85})
record2 = pd.Series({'Name': 'Jack',
                      'Class': 'Chemistry',
                      'Score': 82})
record3 = pd.Series({'Name': 'Helen',
                      'Class': 'Biology',
                      'Score': 90})
 
#como uma series o DataFrame possui um index, vamos usar nosso grupo de series para 
#cada um representar uma linha, como a função de criar uma series, iremos passar cada item
#como um array, e o nosso index como segundo argumento.

df= pd.DataFrame([record1, record2, record3], index= ['School1', 'School2','School1'])
df.head()

          Name      Class  Score
School1  Alice    Physics     85
School2   Jack  Chemistry     82
School1  Helen    Biology     90

In [9]:
#Também podemos criar uma lista de dicionario para a função DataFrame 

Students = [{'Name': 'Alice',
              'class': 'Physics',
              'Score': 85},
            {'Name': 'Jack',
              'class': 'Chemistry',
              'Score': 82},
            {'Name': 'Helen',
              'class':'Biology',
              'Score': 90}]

#passando a lista para função DataFrame               
df = pd.DataFrame(Students, index = ['School1', 'School2','School1'])
df.head()

          Name      class  Score
School1  Alice    Physics     85
School2   Jack  Chemistry     82
School1  Helen    Biology     90

In [10]:
#como em series se quisermos obter um index podemos usar o .loc

df.loc['School2']

Name          Jack
class    Chemistry
Score           82
Name: School2, dtype: object

In [11]:
# podemos ver que ele retorna uma serie e o index não é mais school2  e sim o indenficador do dicionario.
#Podemos ver qual o tipo deste retorno 

type(df.loc['School2'])

pandas.core.series.Series

In [12]:
#agora vamos pegar um indice que possui mais de uma linha
df.loc['School1']

          Name    class  Score
School1  Alice  Physics     85
School1  Helen  Biology     90

In [13]:
#podemos ver que ele retorna um dataFrame e para ter certeza disto basta olhar o tipo de retorno 
type(df.loc['School1'])

pandas.core.frame.DataFrame

In [14]:
#uma das vantagens de usar pandas dataframe e poder selecionar multiplas colunas se vc desejar.
#Digamos que queremos apenas os nomes dos estudantes da escola 1, para isso precisamos passar 2 parametros

df.loc['School1', 'Name']

School1    Alice
School1    Helen
Name: Name, dtype: object

In [15]:
#agora digamos que nos quisessemos apenas obter alguma linha especifica
#existe algumas formas de fazer isso a primeira e invertendo as linhas pelas colunas 
#transposiçao usando .T

df.T

       School1    School2  School1
Name     Alice       Jack    Helen
class  Physics  Chemistry  Biology
Score       85         82       90

In [20]:
#vamos usar nossa transposição para obter apenas os nomes dos alunos 
df.T.loc['Name']

School1    Alice
School2     Jack
School1    Helen
Name: Name, dtype: object

In [21]:
#Porem em data frame devido sua estrutura e possivel obter um nome de uma coluna sem usar .loc, 
df['Name']

School1    Alice
School2     Jack
School1    Helen
Name: Name, dtype: object

In [24]:
#se quisermos obter todas as linhas podemos usar o colon (:) e em seguida dizemos os nomes das colunas que desejamos
#como segundo parametro, caso seja mais de uma colocamos em uma lista. 
df.loc[:,['Name','Score']]

          Name  Score
School1  Alice     85
School2   Jack     82
School1  Helen     90

In [27]:
#agora vamos testar meios de excluir dados de um data frame 
#primeiro iremos usar drop

df.drop("Name", axis = 1)

             class  Score
School1    Physics     85
School2  Chemistry     82
School1    Biology     90

In [28]:
#veja que ele me retornou um DataFrame sem a coluna que eu deletei, porem se pedirmos para exebir o
#dataFrame novamente..

df

          Name      class  Score
School1  Alice    Physics     85
School2   Jack  Chemistry     82
School1  Helen    Biology     90

In [31]:
#ele não excluiu de fato, para se excluir de forma permanente precisamos inserir o inplace 
#vamos fazer uma copia antes disto usando a funlção copy()

df_copy = df.copy()

#agora vamos deletar o dado permanentemente 
#nota que estamos dizendo axis = 1 para informar que é uma coluna

df_copy.drop('Name', axis = 1, inplace = True)

In [32]:
# vamos ver o DataFrame agora
df_copy

             class  Score
School1    Physics     85
School2  Chemistry     82
School1    Biology     90

In [33]:
# uma outra forma de deletar permanentemente os dados sem retornar uma visualização é usando del

del df_copy['class']

In [34]:
df_copy

         Score
School1     85
School2     82
School1     90

In [36]:
#e finalmente para adicionar dados a um data frame e muito simples 

df['ClassRanking'] = None
df

          Name      class  Score ClassRanking
School1  Alice    Physics     85         None
School2   Jack  Chemistry     82         None
School1  Helen    Biology     90         None