In [4]:
import pandas as pd 
#vamos carregar nosso conjunto de dados 
df=pd.read_csv("/content/presidents.csv")
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

In [5]:
# Ok, temos alguns presidentes, algumas datas, vejo um monte de notas de rodapé na coluna "Nascido" que podem causar
# questões. Vamos começar limpando esse nome em nome e sobrenome.Eu vou lidar com isso com
# uma regex. Então eu quero criar duas novas colunas e aplicar uma regex na projeção da coluna "Presidente".

#vamos criar uma copia da coluna presidente e armazenar na coluna firt
df["First"]=df['President']

#agora vamos aplicar regex para remover o sobrenome 
df["First"]=df["First"].replace("[ ].*", "", regex=True)

df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James

In [6]:
# Isso funciona, mas é meio nojento. E é lento, pois tivemos que fazer uma cópia completa de uma coluna e depois ir
# através de strings de atualização. Existem algumas outras maneiras de lidar com isso. Deixe-me mostrar-lhe o mais

#primeiro vamos remover a coluna First
del(df["First"])

# A função apply() em um dataframe pegará alguma função arbitrária que você escreveu e a aplicará
# uma série (uma única coluna) ou DataFrame em todas as linhas ou colunas. Vamos escrever uma função que
# apenas divide uma string em duas partes usando uma única linha de dados

def splitname(row):
    #vamos pegar a primeira informação da coluna presidente e armazenar em um nova entrada
    row['First']=row['President'].split(" ")[0]
    # mesma coisa aqui mas iremos pegar o ultimo valor 
    row['Last']=row['President'].split(" ")[-1]
     
    return row

#agora vamos aplicar isto ao nosso dataframe indicando que queremos aplicar nas colunas
df=df.apply(splitname, axis='columns')
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [7]:
#vamos usar agora a função extract 
#primeiro vamos deletar as nossas colunas criadas 
del(df['First'])
del(df['Last'])

#extract pega uma expressão regular para podermos extrair aquilo que desejamos 
#vamos fazer uma expressão para pegar o primeiro e o ultimo nome 
pattern="(^[\w]*)(?:.* )([\w]*$)"

#agora vamos chamar nossa função extract usando Series.str.extract(pattern)
df["President"].str.extract(pattern).head()

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [8]:
#podemos também extrair os dados e criar novas colunas para armazenar eles 

pattern="(?P<First>^[\w]*)(?:.* )(?P<Last>[\w]*$)"

#chamando a função 
names=df["President"].str.extract(pattern).head()
names

    First        Last
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [9]:
#e podemos copiar isso para nosso main dataframe 
df["First"]=names["First"]
df["Last"]=names["Last"]
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe