# Questão 1

Carregue os dados de energia do arquivo assets/Energy Indicators.xls, que é uma lista de indicadores de fornecimento de energia e produção de eletricidade renovável das Nações Unidas para o ano de 2013, e deve ser colocado em um DataFrame com o nome da variável Energy.

Tenha em mente que este é um arquivo do Excel e não um arquivo de valores separados por vírgula. Além disso, certifique-se de excluir as informações de rodapé e cabeçalho do arquivo de dados. As duas primeiras colunas são desnecessárias, portanto, você deve se livrar delas e alterar os rótulos das colunas para que as colunas sejam:

['País', 'Fornecimento de energia', 'Fornecimento de energia per capita', '% Renovável]

Converta o fornecimento de energia para gigajoules (Nota: existem 1.000.000 gigajoules em um petajoule). Para todos os países que têm dados ausentes (por exemplo, dados com "..."), certifique-se de que isso seja refletido como valores np.NaN.

Renomeie a seguinte lista de países (para uso em perguntas posteriores):

"República da Coreia": "Coreia do Sul",
"Estados Unidos da América": "Estados Unidos",
"Reino Unido da Grã-Bretanha e Irlanda do Norte": "Reino Unido",
"China, Região Administrativa Especial de Hong Kong": "Hong Kong"

Existem também vários países com números e/ou parênteses no nome. Certifique-se de removê-los, por exemplo. 'Bolívia (Estado Plurinacional de)' deveria ser 'Bolívia'. 'Suíça17' deveria ser 'Suíça'.

Em seguida, carregue os dados do PIB do arquivo assets/world_bank.csv, que é um csv contendo o PIB dos países de 1960 a 2015 do Banco Mundial. Chame isso de PIB do DataFrame.

Certifique-se de pular o cabeçalho e renomear a seguinte lista de países:

"Coreia, Rep.": "Coreia do Sul",
"Irã, Rep. Islâmica.": "Irã",
"Hong Kong SAR, China": "Hong Kong"

Finalmente, carregue os dados do Sciamgo Journal e Country Rank para Energy Engineering e Power Technology do arquivo assets/scimagojr-3.xlsx, que classifica os países com base em suas contribuições de periódicos na área mencionada. Chame isso de DataFrame ScimEn.

Junte os três conjuntos de dados: GDP, Energy e ScimEn em um novo conjunto de dados (usando a interseção dos nomes dos países). Use apenas os últimos 10 anos (2006-2015) de dados do PIB e apenas os 15 principais países por 'Classificação' do Scimagojr (Classificação 1 a 15).

O índice deste DataFrame deve ser o nome do país, e as colunas devem ser ['Classificação', 'Documentos', 'Documentos citáveis', 'Citações', 'Autocitações', 'Citações por documento', 'H index', 'Fornecimento de energia', 'Fornecimento de energia per capita', '% Renovável', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013 ', '2014', '2015'].

Esta função deve retornar um DataFrame com 20 colunas e 15 entradas, e as linhas do DataFrame devem ser classificadas por "Rank".

In [ ]:
#atualizando o xlrd para usar read_excel
!pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.0 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
Energy = pd.read_excel('/content/Energy Indicators.xls',header = 17,nrows =227,
                   names =['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'],usecols =[2,3,4,5],
                   na_values='...',index_col = 0)
Energy.head(50)

,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,
Afghanistan,321.0,10.0,78.669280
Albania,102.0,35.0,100.000000
Algeria,1959.0,51.0,0.551010
American Samoa,NaN,NaN,0.641026
Andorra,9.0,121.0,88.695650
Angola,642.0,27.0,70.909090
Anguilla,2.0,136.0,0.000000
Antigua and Barbuda,8.0,84.0,0.000000
Argentina,3378.0,79.0,24.064520
Armenia,143.0,48.0,28.236060
Aruba,12.0,120.0,14.870690
Australia1,5386.0,231.0,11.810810
Austria,1391.0,164.0,72.452820
Azerbaijan,567.0,60.0,6.384345
Bahamas,45.0,118.0,0.000000
Bahrain,574.0,425.0,0.000000
Bangladesh,1625.0,10.0,1.966329
Barbados,19.0,69.0,0.000000
Belarus,1142.0,120.0,0.463389
Belgium,2338.0,210.0,9.959739
Belize,13.0,39.0,64.690030
Benin,170.0,16.0,0.000000
Bermuda,6.0,88.0,0.000000
Bhutan,63.0,83.0,100.000000
Bolivia (Plurinational State of),336.0,32.0,31.477120
"Bonaire, Sint Eustatius and Saba",5.0,213.0,0.000000
Bosnia and Herzegovina,266.0,70.0,41.464670
Botswana,86.0,39.0,0.131406
Brazil,12149.0,59.0,69.648030
British Virgin Islands,2.0,85.0,0.000000
Brunei Darussalam,127.0,310.0,0.045434
Bulgaria,703.0,97.0,17.234610
Burkina Faso,164.0,10.0,14.500680
Burundi,58.0,6.0,86.792450
Cabo Verde,7.0,15.0,21.227620
Cambodia,250.0,17.0,57.311590
Cameroon,307.0,14.0,70.886260
Canada,10431.0,296.0,61.945430
Cayman Islands,8.0,131.0,0.000000
Central African Republic,23.0,5.0,85.635360
Chad,77.0,6.0,0.000000
Chile,1613.0,92.0,28.006570
China2,127191.0,93.0,19.754910
"China, Hong Kong Special Administrative Region3",585.0,82.0,0.000000
"China, Macao Special Administrative Region4",47.0,83.0,0.000000
Colombia,1513.0,32.0,63.002840
Comoros,5.0,7.0,11.627910
Congo,102.0,23.0,57.748870
Cook Islands,1.0,48.0,0.000000
Costa Rica,222.0,47.0,88.736420

In [ ]:
Energy['Energy Supply'] = Energy['Energy Supply'] * 1000000
#Renomeando o indice tirando os () e numeros do nome com regex e str.extract
Energy.index = Energy.index.str.extract('(?P<Country>[A-zÀ-ÿ\', ]+)', expand=False)

#renomeando o indice passando um dicionario 
Energy.rename(index = {"Republic of Korea": "South Korea",
                   "United States of America": "United States",
                   "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                   "China, Hong Kong Special Administrative Region": "Hong Kong",
                   "Iran ": 'Iran'},
          inplace = True)


Energy.head(100)

                Energy Supply  Energy Supply per Capita  % Renewable
Country
Afghanistan      3.210000e+08                      10.0    78.669280
Albania          1.020000e+08                      35.0   100.000000
Algeria          1.959000e+09                      51.0     0.551010
American Samoa            NaN                       NaN     0.641026
Andorra          9.000000e+06                     121.0    88.695650
...                       ...                       ...          ...
Iceland          3.120000e+08                     957.0    99.972400
India            3.319500e+10                      26.0    14.969080
Indonesia        8.754000e+09                      35.0    12.189040
Iran             9.172000e+09                     119.0     5.707721
Iraq             2.077000e+09                      61.0     7.871554

[100 rows x 3 columns]

In [ ]:
#fazendo um for para pegar as colunas de 2006 a 2016
cols = [str(i) for i in range(2006,2016)]
#inserindo na posição 0 contry name para ser o index
cols.insert(0, 'Country Name')
GDP = pd.read_csv('/content/world_bank.csv', header = 4, index_col = 0, usecols = cols)

#renomeando alguns indices 
GDP.rename(index ={"Korea, Rep.": "South Korea", 
                  "Iran, Islamic Rep.": "Iran",
                  "Hong Kong SAR, China": "Hong Kong"}, inplace = True)
GDP.head(113)

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...
Ireland,2.249653e+11,2.374346e+11,2.323003e+11,2.192023e+11,2.200761e+11,2.257719e+11,2.261131e+11,2.293562e+11,2.412813e+11,2.601287e+11
Iran,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Iraq,1.147716e+11,1.163527e+11,1.259263e+11,1.301818e+11,1.385167e+11,1.489698e+11,1.697309e+11,1.808859e+11,1.770543e+11,1.807724e+11
Iceland,1.296337e+10,1.419397e+10,1.440387e+10,1.372960e+10,1.323689e+10,1.350005e+10,1.365975e+10,1.419193e+10,1.445117e+10,1.502302e+10
Israel,2.004788e+11,2.127783e+11,2.192881e+11,2.220701e+11,2.343217e+11,2.461086e+11,2.531417e+11,2.616301e+11,2.684316e+11,2.751104e+11

In [ ]:
ScimEn = pd.read_excel('/content/scimagojr-3.xlsx',nrows =15,index_col=1)

def answer_one():
  #criando uma lista para ordenar as colunas 
  novaOrdem = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 
                          'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', 
                          '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', 
                          '2015']
  #fazendo um merge entre dois dataframes                         
  x = pd.merge(Energy, ScimEn, how = 'inner', on = 'Country')
  #atribuindo o Dataframe GDP para variavel y para poder fazer o merge sem alterar o dataframe original
  y = GDP
  y.index.name = 'Country'
  resposta = pd.merge(x,y,how ='inner', on = 'Country')

  #passando a nova ordem de colunas e ordenando os valores pela coluna Rank
  resposta = resposta[novaOrdem].sort_values('Rank')
  return resposta
  
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

# Questão 2


A pergunta anterior juntou três conjuntos de dados e reduziu isso para apenas as 15 principais entradas. Quando você juntou os conjuntos de dados, mas antes de reduzir isso para os 15 principais itens, quantas entradas você perdeu?

Esta função deve retornar um único número

In [ ]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>/

In [ ]:
'''-----'''

158

# Questão 3
Quais são os 15 países com maior PIB médio nos últimos 10 anos?

Esta função deve retornar uma série chamada avgGDP com 15 países e seu PIB médio classificado em ordem decrescente.

In [ ]:
def answer_three():
  avgGDP = answer_one()
  #usando um for para pegar os valores de cada ano, axis= 1 para dizer que e por coluna
  return avgGDP[[str(i) for i in range(2006, 2016)]].mean(axis = 1).sort_values(ascending = False)
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

# Questão 4
Quanto o PIB mudou ao longo do período de 10 anos para o país com o 6º maior PIB médio?

Esta função deve retornar um único número.

In [ ]:
def answer_four():
  #pegando a sexta posição 
  sexto = answer_three().index[5]
  #trazendo um DF com os dados de 2006 e 2015 apenas
  diferenca = answer_one()[['2006','2015']]
  #subtraindo os dados de 2015 pelo de 2006 para saber quanto o PIB mudou
  return diferenca.loc[sexto,['2015']][0] - diferenca.loc[sexto,['2006'][0]]
answer_four()

246702696075.3999


# Questão 5
Qual é a oferta média de energia per capita?

Esta função deve retornar um único número.

In [ ]:
def answer_five():
  media = answer_one()['Energy Supply per Capita'].mean()
  return media
answer_five()

157.6

# Questão 6
Qual país tem o % máximo de Renováveis ​​e qual é a porcentagem?

Esta função deve retornar uma tupla com o nome do país e a porcentagem

In [ ]:
def answer_six():
  maximo = answer_one()['% Renewable'].idxmax()
  maximo2 = answer_one()['% Renewable'].max()
  return maximo, maximo2
answer_six()

('Brazil', 69.64803)

# Questão 7
Crie uma nova coluna que seja a proporção de Autocitações para Total de Citações. Qual é o valor máximo para esta nova coluna e qual país tem a maior proporção?

Esta função deve retornar uma tupla com o nome do país e a proporção.

In [ ]:
def answer_seven():
  Prop = ScimEn['Self-citations'] / ScimEn['Citations']
  x = Prop.idxmax()
  y = Prop.max()
  return x, y
answer_seven()

('China', 0.6893126179389422)

# Questão 8
Crie uma coluna que estime a população usando Fornecimento de Energia e Fornecimento de Energia per capita. Qual é o terceiro país mais populoso de acordo com essa estimativa?

Esta função deve retornar o nome do país

In [ ]:
def answer_eight():
  Popula = answer_one()['Energy Supply'] / answer_one()['Energy Supply per Capita']
  x= Popula.sort_values(ascending = False).index[2]
  return x
answer_eight()

'United States'

# Questão 9 
Crie uma coluna que estime o número de documentos citáveis ​​por pessoa. Qual é a correlação entre o número de documentos citáveis ​​per capita e a oferta de energia per capita? Use o método .corr(), (correlação de Pearson).

Esta função deve retornar um único número.

(Opcional: use a função integrada plot9() para visualizar a relação entre Fornecimento de energia per Capita vs. Documentos citáveis ​​per Capita)

In [ ]:
def answer_nine():
  Popula = answer_one()['Energy Supply'] / answer_one()['Energy Supply per Capita']
  docu = answer_one()['Citable documents'] / Popula
  x = answer_one()['Energy Supply per Capita']
  return docu.corr(x,method = 'pearson')
answer_nine()

0.7940010435442946

# Questão 10
Crie uma nova coluna com 1 se o valor de % renovável do país for igual ou superior à mediana para todos os países no top 15 e 0 se o valor de % renovável do país estiver abaixo da mediana.

Essa função deve retornar uma série chamada HighRenew cujo índice é o nome do país classificado em ordem crescente de classificação.

In [ ]:
def answer_ten():
  mediana = answer_one()['% Renewable'].median()
  q = answer_one()
  i = []
  for x in answer_one()['% Renewable']:
    if x >= mediana:
      i.append(1)  
    else:
      i.append(0)
  q['HighRenew'] = i
  return q['HighRenew']

answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

# Questão 11 

Use o dicionário a seguir para agrupar os países por continente e, em seguida, crie um DataFrame que exiba o tamanho da amostra (o número de países em cada compartimento de continente) e a soma, média e desvio padrão para a população estimada de cada país.

    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

  
Esta função deve retornar um DataFrame com índice chamado Continente ['Ásia', 'Austrália', 'Europa', 'América do Norte', 'América do Sul'] e colunas ['size', 'sum', 'mean', 'std ']

In [ ]:
def answer_eleven():
  ContinentDict  = {'China':'Asia', 
              'United States':'North America', 
              'Japan':'Asia', 
              'United Kingdom':'Europe', 
              'Russian Federation':'Europe', 
              'Canada':'North America', 
              'Germany':'Europe', 
              'India':'Asia',
              'France':'Europe', 
              'South Korea':'Asia', 
              'Italy':'Europe', 
              'Spain':'Europe', 
              'Iran':'Asia',
              'Australia':'Australia', 
              'Brazil':'South America'}
  
  top = answer_one()
  top['Popula'] = top['Energy Supply'] / top['Energy Supply per Capita']
  z =[]
  for x in top.index:
    z.append(ContinentDict[x])

  top['Continent'] = z
  df = top
  h = pd.pivot_table(df, index = 'Continent', values = 'Popula', 
                          aggfunc=[np.size, np.sum, np.mean, np.std])
  h.columns = ['size', 'sum', 'mean', 'std']
  return h


answer_eleven()

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

#Questão 12
Corte % Renewable em 5 caixas. Grupo Top15 pelo Continente, bem como estes novos % Renewable. Quantos países estão em cada um desses grupos?

Esta função deve retornar uma Série com um MultiIndex de Continente, então os bins para % Renewable. Não inclua grupos sem países.

In [ ]:
def answer_twelve():
  ContinentDict  = {'China':'Asia', 
              'United States':'North America', 
              'Japan':'Asia', 
              'United Kingdom':'Europe', 
              'Russian Federation':'Europe', 
              'Canada':'North America', 
              'Germany':'Europe', 
              'India':'Asia',
              'France':'Europe', 
              'South Korea':'Asia', 
              'Italy':'Europe', 
              'Spain':'Europe', 
              'Iran':'Asia',
              'Australia':'Australia', 
              'Brazil':'South America'}
  
  top = answer_one()
  top['Popula'] = top['Energy Supply'] / top['Energy Supply per Capita']
  z =[]
  for x in top.index:
    z.append(ContinentDict[x])
  top['Continent'] = z
  

  top['% Renewable']=pd.cut(top['% Renewable'],5)
  new_df=top.groupby(['Continent','% Renewable'])['Continent'].agg(np.size).dropna()
  return new_df

answer_twelve()

Continent      % Renewable
Asia           (2.212, 15.753]     4.0
               (15.753, 29.227]    1.0
Australia      (2.212, 15.753]     1.0
Europe         (2.212, 15.753]     1.0
               (15.753, 29.227]    3.0
               (29.227, 42.701]    2.0
North America  (2.212, 15.753]     1.0
               (56.174, 69.648]    1.0
South America  (56.174, 69.648]    1.0
Name: Continent, dtype: float64

# Questão 13
Converta a série Population Estimate em uma string com separador de milhares (usando vírgulas). Use todos os algarismos significativos (não arredonde os resultados).

por exemplo. 12345678,90 -> 12.345.678,90

Esta função deve retornar uma série PopEst cujo índice é o nome do país e cujos valores são a string de estimativa da população

In [ ]:
def answer_thirteen():
  Popula = answer_one()['Energy Supply'] / answer_one()['Energy Supply per Capita']
  return Popula.apply('{:,}'.format)
answer_thirteen()

Country
China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
dtype: object